
main
{
    display: block;
    flex: 1;
    color: rgb(255, 255, 255);
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 20vh;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}

*{
    margin: 0px;
    padding: 0px;
}

.container-app
{
    background-color: #0A0C10;;
    flex-direction: column;
    min-height: 100vh;
}

.container
{
    
}

h1
{
    color: #D9DEE3;
    text-align: center;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 28pt;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.75px;
    padding: 5vh;
}

.center
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.form
{
   display: block;
   margin: 5px;
}

input[type=text] {
    border-radius: 10px;
    background: #272B33;
    box-shadow: 0px 0px 3.7px 1px rgba(0, 0, 0, 0.30);
    padding-left: 40px;
    transition: width 0.4s ease-in-out;
    width: 70vh;
    height: 7vh;
    font-size: 16pt;
    color:rgba(123, 121, 121, 0.523);
    outline: none;
    border: none;
}

input[type=text]:focus {
    width: 90vh;
  }

.buscar
{
    padding: 5px;
    margin: 2vh;
    height: 6vh;
    width: 12vh;
    border-radius: 15px;
    background-color: #272B33;
    font-size: 15pt;
    box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
}

.buscar:active
{
    box-shadow: inset -4px 4px 0 #222;
    font-size: 0.9rem;
}

.content
{
    background-color: #09101c;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 20%;
    padding: 5vh;
    border-radius: 10px;
}
.avatar
{
    width: 12vh;
    height: 12vh;
}

.name
{
    font-size: 15pt;
    margin: 0;
    padding: 0;
}
.rodape
{
    padding: 6vh;
    display: flex;
    font-size: 12pt;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px;
    color: #D9DEE3;
    background-color: #0A0C10;;
}